<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.yandex.money.droid"
          android:versionCode="1"
          android:versionName="1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/ym_yandex_money" android:icon="@drawable/icon">
        <activity
                android:name=".AuthActivity"                
                android:theme="@style/Theme.Light.YM"
                android:configChanges="orientation"
                >
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:theme="@style/Theme.Light.YM"            
            android:configChanges="orientation"
            />

        <activity
                android:name=".DetailHistoryActivity"                
                android:theme="@style/Theme.Light.YM"
                android:configChanges="orientation"
                />

        <activity
                android:name=".PaymentActivity"
                android:theme="@style/Theme.Light.YM"                
                android:configChanges="orientation"
                />

        <activity
                android:name=".PaymentConfirmActivity"
                android:theme="@style/Theme.Light.YM"
                android:configChanges="orientation"
                />

    </application>
</manifest> 
