<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.yandex.money.droid"
          android:versionCode="1"
          android:versionName="1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.android.com/apk/res/android ">
    <application android:label="@string/app_name" android:icon="@drawable/icon">

        <activity
                android:name=".AuthActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.Light.YM"
                android:configChanges="orientation"
                >
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:theme="@style/Theme.Light.YM"
            android:label="@string/app_name"
            android:configChanges="orientation"
            />

        <activity
                android:name=".DetailHistoryActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.Light.YM"
                android:configChanges="orientation"
                />

        <activity
                android:name=".PaymentActivity"
                android:theme="@style/Theme.Light.YM"
                android:label="@string/app_name"
                android:configChanges="orientation"
                />

    </application>
</manifest> 
